.midescripcion{
    display: block;
    background: linear-gradient(90deg,#dd113771, #fcd9e1);
    text-align: center;
    
}

.mifoto{
    
    height: 300px;
    padding: 2.5em;

}

.descripcion{
    background-color:#faeef1;
}
.card{
    padding: 1.5em;
    margin: 2.2em;
}





.descripcion-personal{
    background-color: #fcd9e1;
}

.card-img{
    display:inline-block;
    width: 250px;
}


.text-center{
    display:inline-block;
    text-align: left;
}

.trabajo{
    background-color: #fcd9e1;
    width: 100%;
}

.subtitulo-trabajo{
    
  text-align: center;
 
;}

.titulo-desarrollo{
text-align: center;
}

footer{
    display: inline-block;
    background-color: #c82333;
    width: 100%;
    text-align: center;
  
}
.boton{
    width:428px;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    color:#ffffff; 
}
    

.letras-lobster{
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 1.2em;
}

*{
    font-family: 'Montserrat', sans-serif;
}
