.midescripcion{
    display: block;
    background: linear-gradient(90deg,#f06d86, #fcd9e1);
    text-align: center;
    
}

.mifoto{
    
    height: 300px;
    padding: 2.5em;

}

.descripcion{
    background-color:#faeef1;
}
.card{
    padding: 1.5em;
    margin: 2.2em;
}





.descripcion-personal{
    background-color: #fcd9e1;
}

.card-img{
    display:inline-block;
    width: 250px;
}


.text-center{
    display:inline-block;
    text-align: left;
}

.trabajo{
    background-color: #fcd9e1;
    width: 100%;
}

.subtitulo-trabajo{
    
  text-align: center;
 
;}

.titulo-desarrollo{
text-align: center;
}

footer{
    display: inline-block;
    background-color: #c82333;
    width: 100%;
    text-align: center;
  
}
.boton{
    width:428px;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    color:#ffffff; 
}
    

  /*<!--jQuery 3.5.1 (sin slim)-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>



/*
.midescripcion{
    background-image: url('../img/pink.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 20rem;
